<!DOCTYPE html>
<html>
    <head>
        <title>DigitsGuesser V1.0</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='digitsguesser.css') }}" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>
    <body id="body">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <!--
            <form method="POST" action="/" enctype="multipart/form-data">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        Binary image file
                    </div>
                    <div class="col-3">
                        <input type="file" name="txt_bin_file" />
                    </div>
                </div>
                <div class="row">
                     <div class="col-3">

                     </div>
                      <div class="col-3">
                            <input type="submit" value="Send">
                        </div>
                    </div>
                </div>
            </form>
        -->
        <h1 style="text-align:center; padding-top: 20px;">Beat the AI (Level easy)</h1>

        <hr>    
        <div class="centered">
            <canvas id="canvas" width="500" height="500"></canvas>
            <br>
        </div>
        <div class="centered">
            <div class="bottoni_centrati">
                <button class="btn btn-primary bottone" onclick="save();" ><span>Guess</span></button>
                <button class="btn btn-primary bottone" onclick="erase();" ><span>Erase</span></button>
            </div>
            <div id="output" class="output alert alert-info">Draw a digit and I will guess it.</div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(".centered").css("margin-left", ($(document).width()-500)/2  + "px");
            $(".bottoni_centrati").css("padding-left", 170 + "px");
            //Canvas
            var canvas = document.getElementById('canvas');
            var ctx = canvas.getContext('2d');
            //Variables
            var canvasx = $(canvas).offset().left;
            var canvasy = $(canvas).offset().top;
            var last_mousex = last_mousey = 0;
            var mousex = mousey = 0;
            var mousedown = false;
            var tooltype = 'draw';
            

            //Mousedown
            $(canvas).on('mousedown', function(e) {
                last_mousex = mousex = parseInt(e.clientX-canvasx);
                last_mousey = mousey = parseInt(e.clientY-canvasy);
                mousedown = true;
            });

            //Mouseup
            $(canvas).on('mouseup', function(e) {
                mousedown = false;
            });

            //Mousemove
            $(canvas).on('mousemove', function(e) {
                mousex = parseInt(e.clientX-canvasx);
                mousey = parseInt(e.clientY-canvasy);
                if(mousedown) {
                    ctx.beginPath();
                    if(tooltype=='draw') {
                        ctx.globalCompositeOperation = 'source-over';
                        ctx.strokeStyle = 'black';
                        ctx.lineWidth = 30;
                    } else {
                        ctx.globalCompositeOperation = 'destination-out';
                        ctx.lineWidth = 30;
                    }
                    ctx.moveTo(last_mousex,last_mousey);
                    ctx.lineTo(mousex,mousey);
                    ctx.lineJoin = ctx.lineCap = 'round';
                    ctx.stroke();
                }
                last_mousex = mousex;
                last_mousey = mousey;
            });

            //Use draw|erase
            use_tool = function(tool) {
                tooltype = tool; //update
            }

            function save() {
                    var imgData=ctx.getImageData(0,0,canvas.width,canvas.height);
                    var data=imgData.data;
                    for(var i=0;i<data.length;i+=4){
                        if(data[i+3]<255){
                            data[i]=255;
                            data[i+1]=255;
                            data[i+2]=255;
                            data[i+3]=255;
                        }
                    }
                    ctx.putImageData(imgData,0,0);
                    $.ajax({
                      type: "POST",
                      url: "/api/digits",
                      data: {"data_image": canvas.toDataURL('image/jpeg'), "encoding": "base64"},
                      success: function(data, textStatus, jqXHR){
                            if(data.status_code != 200){
                                document.getElementById("output").innerHTML = 'Error: <i>' + data.error + '</i>';
                                $("#output").removeClass("alert-info").addClass("alert-danger");
                            }
                            else{
                            let divs= $("#output");
                                document.getElementById("output").innerHTML = 'You entered the digit <code>' + data.digit_guessed + '</code>';
                                divs.append = 'ffffffffffffffffffffffffff';
                                divs.removeClass("alert-info").addClass("alert-success");
                            }
                            console.log(data.status_code + " " +  data.digit_guessed + " " + data.error);
                        },
                      dataType: "json",
                    });
            }
            function erase() {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
            }
            $(document).ready(function(){
                $(window).bind('mousewheel DOMMouseScroll', function(){
                   ctx = canvas.getContext('2d');
                   $(".centered").css("margin-left", ($(document).width()-500)/2);
                   $(".bottoni_centrati").css("padding-left", 170);
                   createCanvas();
                });
            });
            function createCanvas(){
                //Canvas
                canvas = document.getElementById('canvas');
                ctx = canvas.getContext('2d');
                //Variables
                canvasx = $(canvas).offset().left;
                canvasy = $(canvas).offset().top;
                last_mousex = last_mousey = 0;
                mousex = mousey = 0;
                mousedown = false;
                tooltype = 'draw';
            }

    </script>
    </body>
</html>